*.tmx
*.bak
DialogeOmegaT/*.*
DialogeOmegaT/dictionary/
DialogeOmegaT/omegat/
DialogeOmegaT/source/
DialogeOmegaT/target/
DialogeOmegaT/tm/
DialogeOmegaT/tm/auto/

# don't work with omegat.project
DialogeOmegaT/omegat.project
last_entry.properties
project_stats.txt
project_save.tmx.*.bak

!DialogeOmegaT/glossary/
!glossary.txt
!project_save.tmx
!filters.xml
!segmentation.conf
